body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input {
    display: block;
    width: 90%;
}

button {
    width: 90%
}

hr {
    width: 90%;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
    height: 100px;
    padding-top: 25px;
    background-image: linear-gradient(to right, rgb(87, 87, 238), rgb(1, 1, 73));
}

.fc {
    background-color:rgb(51, 51, 87);
    color: white;
    height: 250px
}